add_ace group.admin command allow # allow all commands

# Oxe Team
add_principal identifier.fivem:6528732 group.admin #Njoy

# 8Bit Team
add_principal identifier.license:987e770f2bd21e111807f148d22451eb18f6f10c group.admin #Njoy

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Allow All Commands QBCore God
add_ace qbcore.god command allow # Allow all commands

# DiscordAcePerms
add_ace resource.DiscordAcePerms command.add_principal allow
add_ace resource.DiscordAcePerms command.remove_principal allow

# PlayerStores TEBEX PURCHASES
#add_ace resource.oxe-playerStores command allow

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

